$tablet-width: 780px;
$desktop-width: 1024px;
$togglerSize: 32px;
$bg: #F8FAFF;
$main: #FF6D02;
$dark-grey: #212125;
$black: #000000;
$secondary-2: #7577CD;

$primary: #F17F42;
$primary-2: #CE6D39;
$primary-grey: #dadbdb;
$mywhite: #F8FAFF;
$secondary: #FFEEE4;