$tablet-width: 780px;
$desktop-width: 1024px;
$togglerSize: 32px;
$bg: #F8FAFF;
$main: #FF6D02;
$black: #212125;
$secondary-2: #7577CD;

$primary: #3ac569;
$primary-2: #88dba3;
$primary-3: #cff0da;
$primary-grey: #dadbdb;
$mywhite: #F8FAFF;
$secondary: #fbd14b;
$terciary: #6a60a9;