$radius: 12px;
$grey-dark: hsl(0, 0%, 28%);
@import "variables";
@import "mixins";
@import "single";
@import "typescale";


h1.title, h2.title, h3.title {
    font-family: 'Palanquin Dark', sans-serif;
}

body {
    font-family: 'Hind', sans-serif;
}

.header {
    background-color: $primary;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    padding: 12px 0;
}


.navbar {
    background-color: inherit;
    &-brand img {
        margin-top: 8px;
    }
    a {
        color: $mywhite;
        font-family: 'Palanquin Dark', sans-serif;
    }
}

.main {
    background-color: #f6f7f8;
}

.card {
    border-radius: $radius;
    transform: translateY(0);
    transition: transform 280ms ease;
    will-change: transform;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    &:hover {
        transform: translateY(-0.5rem);
    }
    &-image img {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
    
}

.footer {
    padding: 20px 0;
    .columns {
        align-items: center;
    }

    &__copyright p {
        margin-bottom: 0;
    }
}

.is-between {
    justify-content: space-between;
}

.section {
    &--posts {
        background: $black;
    }

    &--copy {
        background: #f6f7f8;
    }
}

.card {
    .title {
        font-weight: normal;
    }
}

.navbar {
    &-item:hover {
        color: #fff;
    }
}

ul {
    li {
        margin-bottom: 10px;
        &:before {
            content: "\f101";
            display: inline-block;
            vertical-align: middle;
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
            font-weight: 900;
            color: $primary-2;
        }
    }
}

.share {
    &__text { 
        color: $grey-dark; 
        display: inline-block;
        vertical-align: text-bottom;
        margin-bottom: 1px;
    }
    &__item {
        --size: 42px;
        position: relative;
        overflow: hidden;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        border-radius: 100%;
        margin-left: 10px;
        cursor: pointer;
        color: #fff;
        &--fb { background: #3b5998; }
        &--twitter { background: #1da1f2; }
        &--whatsapp { background: #25d366;}
        &--pinterest { background: #bd081c; }
        &--gplus { background: #dd4b39; }
        transition: transform 180ms ease;
        &:before {
            content: "";
            position: absolute;
            border-radius: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 180ms ease;
            background: rgba(0, 0, 0, 0.15);
        }
        &:hover {
            color: #fff;
            &:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translate(0, 0);
            }
        }

        > span {
            position: relative;
            display: inline-block;
            line-height: 1;
        }

        @media (min-width: 1024px ) {
            &--whatsapp {
                display: none;
            }
        }
    }
}

.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.toc {
    &__title {
        margin-bottom: 0;
    }
    &__title, li {
        font-size: 18px;
    }

    .table-of-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        -ms-column-gap: 15px;
        -o-column-gap: 15px;
        column-gap: 15px;
        columns: 2;
    
        max-height: 0;
        overflow: hidden;
        margin-top: 0;
        transition: max-height 280ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    
        &.open {
            height: auto;
            max-height: 300px;
            margin-top: 20px;
        }
    
    }
}

.item {
    &:before, &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    &__img {
        float: left;
        box-shadow: 1px 1px 24px 0 rgba($color: $secondary-2, $alpha: 0.45);
        border-radius: 16px;
    }

    &__buylink {
        display: block;
        width: 220px;
        float: left;
        text-align: center;
        border: 1px solid $secondary-2;
        color: $secondary-2;
        border-radius: 12px;
        padding: 4px 8px;
        transition: 280ms ease;
        &:hover {
            background: $secondary-2;
            color: #fff;
        }
        @media (min-width: 768px) {
            margin-left: 40px;
        }
    }
}
