$radius: 12px;
$grey-dark: hsl(0, 0%, 28%);
@import "variables";
@import "mixins";
@import "single";


h1.title, h2.title, h3.title {
    font-family: 'Palanquin Dark', sans-serif;
}

body {
    font-family: 'Hind', sans-serif;
}

.header {
    background-color: #3ac569;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    padding: 12px 0;
}


.navbar {
    background-color: inherit;
    &-brand img {
        margin-top: 8px;
    }
    a {
        color: $mywhite;
        font-family: 'Palanquin Dark', sans-serif;
    }
}

.main {
    background-color: #f6f7f8;
}

.card {
    border-radius: $radius;
    transform: translateY(0);
    transition: transform 280ms ease;
    will-change: transform;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    &:hover {
        transform: translateY(-0.5rem);
    }
    &-image img {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
    
}

.footer {
    padding: 20px 0;
    .columns {
        align-items: center;
    }
}

.is-between {
    justify-content: space-between;
}

.section {
    &--posts {
        background: $black ;
    }
}

.card {
    .title {
        font-weight: normal;
    }
}