<footer class="footer has-background-dark">
    <div class="container">
        <div class="columns is-between">
            <div class="column is-4">
                <div class="footer__brand">
                    <img width="220" src="../images/melhor-custo-beneficio-logo.png" alt="Melhor Custo Beneficio">
                </div>
            </div>
            <div class="column is-5">
                <div class="footer__copyright"><p class="has-text-white-bis has-text-right">Melhor Custo Benefíco ─ Todos os Direitos Reservados © 2018</p></div>
            </div>
        </div>
    </div>
</footer>