<header class="header">
  <div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="nav-item" href="/">
          <img src="../images/escrivaninhas-logo.png" alt="Escrivaninhas" width="280">
        </a>
        <a role="button" class="navbar-burguer" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="#" class="navbar-item">Início</a>
          <a href="#" class="navbar-item">Os Melhores</a>
          <a href="#" class="navbar-item">Reviews Individuais</a>
          <a href="#" class="navbar-item">Sobre</a>
          <a href="#" class="navbar-item">Contato</a>
        </div>
      </div>
    </nav>
  </div>
</header>