<div class="item">
    <figure class="item__figure">
        <img class="item__img" src="../images/escrivaninhas/{{ include.imgSrc }}" alt="{{ include.imgAlt }}" width="360px">
    </figure>
    <div class="item__info">
        <ul>
            <li><strong>Melhor uso: </strong><span>{{ include.bestUse | default: "Escritório / Quarto" }}</span></li>
            <li><strong>Tamanhos: </strong><span>{{ include.sizes }}</span></li>
            {% if include.review %}
            <li><strong>Review de um comprador: </strong><span>{{ include.review }}</span></li>
            {% endif %}
        </ul>
    </div>
    <a class="item__buylink" href="{{ include.link }}" target="_blank" rel="nofollow">{{ include.linkTitle | default: "Ver na Loja" }}</a>
</div>