<!-- <section class="section section--posts">
  <div class="container">
    <div class="columns">
      {% for post in site.posts %}
      <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="{{ post.url }}">
                  <h2 class="title is-size-4">
                    {{ post.title }}
                  </h2>
                </a>
                <p class="has-text-grey">{{ post.excerpt }}</p>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section> -->