<div class="share">
    <div class="share__text">Compartilhe o post nas redes sociais</div>
    <a href="https://www.facebook.com/sharer/sharer.php?u=" class="share__item share__item--fb" target="_blank" rel="nofollow">
        <span><i class="fab fa-facebook-f"></i></span>
    </a>
    <a href="https://twitter.com/home?status=" class="share__item share__item--twitter" target="_blank" rel="nofollow">
        <span><i class="fab fa-twitter"></i></span>
    </a>
    <a href="whatsapp://send?text=" data-action="share/whatsapp/share" class="share__item share__item--gplus" target="_blank" rel="nofollow">
        <span><i class="fab fa-google-plus-g"></i></span>
    </a>
    <a href="whatsapp://send?text=" data-action="share/whatsapp/share" class="share__item share__item--whatsapp" target="_blank" rel="nofollow">
        <span><i class="fab fa-whatsapp"></i></span>
    </a>
    <a href="https://pinterest.com/pin/create/button/?url=" class="share__item share__item--pinterest" target="_blank" rel="nofollow">
        <span><i class="fab fa-pinterest-p"></i></span>
    </a>
</div>