---
layout: default
---
<div class="hero is-medium has-background-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-weight-normal has-text-white-bis">Lorem Ipsum Dot Color<br> consectetur adipiscing <br> Elit o <strong class="has-text-weight-bold has-text-white-bis">Phasellus nec iaculis mauris</strong></h1>
    </div>
  </div>
</div>
<section class="section is-medium">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="#"><h2 class="title is-size-4 has-text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </h2></a>
                <p class="has-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ipsum nihil sequi, error dignissimos eaque?</p>
              </div>
            </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="#"><h2 class="title is-size-4 has-text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </h2></a>
                <p class="has-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ipsum nihil sequi, error dignissimos eaque?</p>
              </div>
            </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="#"><h2 class="title is-size-4 has-text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </h2></a>
                <p class="has-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ipsum nihil sequi, error dignissimos eaque?</p>
              </div>
            </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="#"><h2 class="title is-size-4 has-text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </h2></a>
                <p class="has-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ipsum nihil sequi, error dignissimos eaque?</p>
              </div>
            </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="#"><h2 class="title is-size-4 has-text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </h2></a>
                <p class="has-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ipsum nihil sequi, error dignissimos eaque?</p>
              </div>
            </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <a href="#"><h2 class="title is-size-4 has-text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </h2></a>
                <p class="has-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ipsum nihil sequi, error dignissimos eaque?</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>